@model RestRepeat.Models.Staff

@{
    ViewBag.Title = "Delete";
}

<h2 class="specialText">Delete</h2>

<h3 class="specialText">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal contentText">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-danger" /> |            
        </div>
    }
</div>
